<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Virtual Grocery</title>

<link
	rel="stylesheet"
	href="../static/bootstrap.css"
	th:href="@{/bootstrap.css}" />




</head>
<style>

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
</style>
</head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Online Store</h1>
		</div>
	</div>










</body>






<!--EDIT OR UPDATE MODAL -->


</html>